extends layout.pug
block content
  //- h1 Bet #{index} between #{bet.userA.firstName} & #{bet.userB.firstName}
  //- h4 $#{bet.betValue}
  //- p #{bet.betDescription}
  //- a(href='/') Back

  // TODO
  // - add time with variable #{bet.date}
  // - style complete button
  
  
  div.container.sticky(style="margin-top: 10px;")
    div.card(style="margin-bottom: 30px")
      nav.level
          div.level-item.has-text-centered
              div
                  p.heading Bettor A
                  p.title(style="text-transform:capitalize;") #{bet.userA.firstName}
          div.level-item.has-text-centered
              div
                  p.heading Bettor B
                  p.title(style="text-transform:capitalize;") #{bet.userB.firstName}
          div.level-item.has-text-centered
              div
                  p.heading Stake
                  p.title $#{bet.betValue}
          div.level-item.has-text-centered
              div
                  p.heading Status

                  // STYLE ME
                  case bet.completionProgress.stage
                    when 0
                      p.title In Progress
                    when 1
                      p.title Waiting Verification
                    when 2
                      p.title Completed
      .card-content
        p.heading Bet Description
          p #{bet.betDescription}
        
                
    //- div.columns(style="margin-top: 5px;")
    //-   div.column.is-full
    //-     //- h3 All Bets Feed
    //-     ul
    //-         li
    //-           div.card.bets
    //-             header.card-header
    //-               p.card-header-title
    //-                   a(href=`/`, style="color:#4ECDB3;") Comments
    //-             div.card-content
    //-               div.content
    //-                 a(href=`/bet/${bet.slug ? bet.slug : bet._id}`)
    //-                     p.description

    if bet.completionProgress.winner
      .card
        .card-header
          .card-header-title Winner:
        .card-content
          span.title #{bet.completionProgress.winner.firstName} 
          if bet.completionProgress.stage == 1
            span.subtitle (awaiting verification)

    if isLoggedInUser
      if bet.completionProgress.stage == 0 || bet.completionProgress.stage == 1
        unless currentUserCompletedBet
          p
            a.button.is-pulled-right.is-large.is-primary(href=`/bet/${bet.slug ? bet.slug : bet._id}/complete`) Complete Bet