extends layout.pug
block content
  // ERRORS
  if error
    p #{ error }
  
  h1= message
  a(href='/profile') Profile
  a(href='/auth/logout') Logout
  a(href='/bets/new') New Bet
  a(href='/bets') My Bets
  h3 All Bets Feed
  ul
    each bet, index in bets
      li  
          div.card
              header.card-header
                  p.card-header-title
                      if bet.completed
                          // lets add a win/loss conditional + comments + likes + date bet created
                          a(href=`/bet/${bet._id}`, style="color:green; text-transform:capitalize;") #{bet.userA.firstName}&nbsp;
                          a(href=`/bet/${bet._id}`, style="font-weight:300!important; color:black;") made a bet with&nbsp;
                          a(href=`/bet/${bet._id}`, style="color:green; text-transform:capitalize;") #{bet.userB.firstName}
                      else
                          a(href=`/bet/${bet._id}`, style="color:red; text-transform:capitalize;") #{bet.userA.firstName}&nbsp;
                          a(href=`/bet/${bet._id}`, style="font-weight:300!important; color:black;") made a bet with&nbsp;
                          a(href=`/bet/${bet._id}`, style="color:red; text-transform:capitalize;") #{bet.userB.firstName}
          div.card-content
              div.content
                  p #{bet.betDescription}
                  h4 $#{bet.betValue}
              
                  
                      
