extends layout.pug
block content
    // [remove hardcode] figure out bulma margins
    div.container.sticky
      div.columns(style="margin-top: 5px;")
        div.column.is-full
          div.card
            div.card-content
              div.media
                div.media-left
                  figure.image.is-48x48
                    img(src="https://bulma.io/images/placeholders/96x96.png" alt="avatar")
                div.media-content
                  // [remove hardcode] pass a name through
                  p.title.is-4(style="margin-bottom:0px!important;") #{user.firstName} #{user.lastName}
                  h5 (#{user.email})
            div.card-footer
              a.card-footer-item(href='/profile') Profile
              a.card-footer-item(href="/bets/new") New Bet
        
      div.column.is-full
        ul
          each bet, index in bets
            li
              div.card.bets
                header.card-header
                  p.card-header-title

                      // took out completed because completion is not boolean
                      // lets add a win/loss conditional + comments + likes + date bet created
                      a(href=`/bet/${bet.slug ? bet.slug : bet._id}`, style="color:#4ECDB3; text-transform:capitalize;") #{bet.userA.firstName}&nbsp;
                      a(href=`/bet/${bet.slug ? bet.slug : bet._id}`, style="font-weight:300!important; color:#4a4a4a;") made a bet with&nbsp;
                      a(href=`/bet/${bet.slug ? bet.slug : bet._id}`, style="color:#4ECDB3; text-transform:capitalize;") #{bet.userB.firstName}

                      // STYLE ME
                      case bet.completionProgress.stage
                        when 0
                          h5.card-header-icon In Progress
                        when 1
                          h5.card-header-icon Waiting Verification
                            span.has-text-info  (#{bet.completionProgress.winner.firstName})
                        when 2
                          h5.card-header-icon Completed 
                            span.has-text-primary  (#{bet.completionProgress.winner.firstName})
                div.card-content
                  div.content
                    a(href=`/bet/${bet.slug ? bet.slug : bet._id}`)
                        p.description  #{bet.betDescription}
                    h4 $#{bet.betValue}

                    // STYLE ME
                    if bet.isLoggedInUser
                      if bet.completionProgress.stage == 0 || bet.completionProgress.stage == 1
                        unless bet.currentUserCompletedBet
                          a(href=`/bet/${bet.slug ? bet.slug : bet._id}/complete`).button.is-primary Complete Bet
                      
                      
